/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.navbar-expand-lg { 
    z-index: 2000;
 }

 .nav-link {
    color: #A6CC3A !important
 }

div.login-ui {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    background: url('images/ff.png');
    z-index: 20;
    background-repeat: no-repeat;
    background-color: #2A313A !important;
    color: white;
    background-position: right bottom;
}

.login-ui p.login-error {
    display: none;
}

.login-ui.error p.login-error {
    display: block;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    padding: 1em;
    margin: 0.2em;

    background: #FDD;
    border: 1px solid #964040;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
    text-align: center;
    color: #964040;
}

.login-ui .login-fields .form-field .password-field .toggle-password {
    display: none;
}

.login-ui .login-fields .labeled-field {
    display: block;
    position: relative;
    z-index: 1;
}

.login-ui .login-fields .labeled-field .field-header {

  display: block;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;

  z-index: -1;
  margin: 0.5em;
  font-size: 0.9em;
  opacity: 0.5;

}

.login-ui .login-fields .labeled-field.empty input {
    background: transparent;
}

.login-ui .login-fields .labeled-field input:focus {
    background: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2000;
}

hr {
    background-color: white;
}
.login-dialog-middle {
    height: 100vh;
}

.login-ui div.login-dialog {
    border: none !important;
    border-left: 2px solid #ffffff !important;
    box-shadow: none !important;
    width: 400px;
    height: 400px;
    margin:150px 0 0 130px;
}
.loginText{
    font-size: 4rem;
    text-transform: capitalize;
    padding-left: 0;
}
input[type="submit"], button, a.button {
    background-color: #A6CC3A !important;
    border-radius: 4px;
}

.login-ui .login-fields .labeled-field.empty input {
    background-color: #44474A;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.login-fields {
    width: 120%;
}

div.labeled-field {
    margin-bottom: 20px;
}
.login-ui div.login-dialog-middle {
    width: auto !important;
}