<div
    class="login-ui" ng-class="{error: loginError, continuation: isContinuation(), initial: !isContinuation()}">

    <!-- Login error message -->
    <p class="login-error" translate="{{loginError.key}}" translate-values="{{loginError.variables}}"></p>

    <div class="login-dialog-middle" style="width: auto !important;">

        <div class="login-dialog">
            <form
                class="login-form" style="margin-top: -22%;" ng-submit="login()">
                <!-- Login message/instructions -->
                <p ng-show="helpText" translate="{{helpText.key}}" translate-values="{{helpText.variables}}"></p>
                <h2 class="loginText">Login</h2>
                <!-- Login fields -->
                <div class="login-fields">
                    <guac-form namespace="'LOGIN'" content="remainingFields" model="enteredValues"></guac-form>
                </div>

                <!-- Submit button -->
                <div class="buttons">
                    <input type="submit" name="login" class="btn btn-primary mt-3" style="text-transform: uppercase;" value="{{'LOGIN.ACTION_LOGIN' | translate}}"/>
                    <input type="submit" name="login" class="continue-login" value="{{'LOGIN.ACTION_CONTINUE' | translate}}"/>
                </div>

            </form>

        </div>

    </div>

</div>
