<div
    class="labeled-field" style="margin-bottom: 20px;" ng-class="{empty: !model}" ng-show="isFieldVisible()">

    <!-- Field header -->
    <div class="field-header">
        <label ng-attr-for="{{ fieldId }}">{{getFieldHeader() | translate}}</label>
    </div>

    <!-- Field content -->
    <div class="form-field"></div>

</div>
