<div class="password-field">
    <input type="{{passwordInputType}}" ng-attr-id="{{ fieldId }}" ng-model="model" ng-trim="false" autocorrect="off" placeholder="Enter Password" autocapitalize="off"/>
    <div class="icon toggle-password" ng-click="togglePassword()"></div>
</div>
